<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><!-- th:fragment="slideBarAdmin"-->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="active">
                        <a th:href="@{/Admin/Home}">
                            <img src="/admin/img/icons/dashboard.svg" alt="img">
                            <span> Quản trị</span>
                        </a>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);">
                            <img src="/admin/img/icons/product.svg" alt="img">
                            <span>Sản phẩm</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul>
                            <li><a th:href="@{/Products/ProductList}">Danh sách sản phẩm</a></li>
                            <li><a th:href="@{/Products/AddProduct}">Thêm sản phẩm</a></li>
                            <li><a th:href="@{/Categories/CategoryList}">Loại sản phẩm</a></li>
                            <li><a th:href="@{/Categories/AddCategory}">Thêm loại sản phẩm</a></li>
                            <li><a th:href="@{/Brand/BrandList}">Brand List</a></li>
                            <li><a th:href="@{/Brand/AddBrand}">Add Brand</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="/admin/img/icons/purchase1.svg" alt="img"><span>Kho hàng</span>
                            <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a th:href="@{/Warehouses/WarehouseList}">Danh sách Kho hàng</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);">
                            <img src="/admin/img/icons/users1.svg" alt="img">
                            <span>Tài khoản</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul>
                            <li><a th:href="@{/Accounts/AccountList}">Danh sách tài khoản</a></li>
                            <li><a th:href="@{/Accounts/AccountForm}">Thêm tài khoản</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="/admin/img/icons/quotation1.svg" alt="img"><span>Đơn hàng</span>
                            <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a th:href="@{/Orders/OrderList}">Danh sách đơn hàng</a></li>
                        </ul>
                    </li>
<!--                    <li class="submenu">-->
<!--                        <a>-->
<!--                            <i data-feather="bar-chart-2"></i>-->
<!--                            <span> Thống kê </span>-->
<!--                            <span class="menu-arrow"></span>-->
<!--                        </a>-->
<!--                        <ul>-->
<!--                            <li><a th:href="@{/statistics/chart-apex}">Apex Charts</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="submenu">-->
<!--                        <a href="javascript:void(0);"><img src="/admin/img/icons/settings.svg"-->
<!--                                                           alt="img"><span>Cài đặt</span> <span-->
<!--                                class="menu-arrow"></span></a>-->
<!--                        <ul>-->
<!--                            <li><a th:href="@{/Admin/GeneralSetting}">Cài đặt chung</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>