<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">-->
<html lang="vi" >
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Title</title>
</head>
<body>

<main>

    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://kingfoodmart.com/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Fonelife-public%2Fmedia%2Fimages%2F2024%2F09%2F6ReuBAblob&w=1920&q=75" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://kingfoodmart.com/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Fonelife-public%2Fmedia%2Fimages%2F2024%2F10%2FUfwRrgblob&w=1920&q=75" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://kingfoodmart.com/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Fonelife-public%2Fmedia%2Fimages%2F2024%2F10%2FvtuvdAblob&w=1920&q=75" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row text-center ">
                <div th:each="c, iterStat : ${cate}"
                     th:if="${iterStat.index} < 12" class="col-6 col-sm-4 col-md-2 col-lg-1 p-3 p-3">
                    <a th:href="@{|/layout/Product?cid=${c.categoryId}|} " class=" text-decoration-none text-dark" >
                        <img th:src="@{'/Image/imageUrl/' + ${c.imageUrl} + '.webp'}" class="img-fluid" alt="...">
                        <h6>[[${c.categoryName}]]</h6>
                    </a>
                </div>
            </div>

            <!--            Trang sản phẩm -->
            <div class="container-fluid">
                <div class="row ms-1 mt-5">
                    <h3 class="">Sản Phẩm Nổi Bật</h3>
                    <div th:each="p : ${product}" class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5 d-flex justify-content-center">
                        <div class="con">
                            <div class="card_box">
                                <div>
                                    <a th:href="@{|/product/detail/${p.productId}|}">
                                        <div th:if="${p.images != null and p.images.size() > 0}">
                                            <img th:src="@{'/Image/imageUrl/' + ${p.images[0].imageUrl}}" class="card-img-top"/>
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div th:if="${p.sale != null}" class="d-flex align-items-baseline">
                                                <h5 class="text-danger mb-0">[[${p.sale}]].đ</h5>
                                                <h6 class="text-primary text-decoration-line-through ms-2 mb-0">[[${p.price}]].đ</h6>
                                            </div>
                                            <div th:unless="${p.sale != null}">
                                                <h5 class="text-danger mb-0">[[${p.price}]].đ</h5>
                                            </div>
                                        </div>
                                        <p th:text="${p.description}" class="card-text"></p>
                                        <div class="d-grid gap-2">
                                            <button th:attr="ng-click=@{|cart.add(${p.productId})|}" type="button" class="btn btn-outline-primary">
                                                <i class="bi bi-cart-plus"></i> Mua ngay
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <span th:if="${p.sale != null}"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container-fluid mt-5">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination d-flex justify-content-center">
                            <li th:if="${currenPage > 1}" class="page-item disabled"><a class="page-link" th:href="@{'?pageNo='+${currenPage -1}}">Previous</a></li>
                                <li th:each="i:${#numbers.sequence(1,totalPage)}" th:classappend="${currenPage == i ? 'active' : ''}" class="page-item">
                                <a th:href="@{${keyword != null && keyword!='' ? '?keyword='+keyword+'&':'?'}+'pageNo='+${i}}" class="page-link" th:text="${i}"></a>
                            </li>
                            <li th:if="${currenPage < totalPage}" class="page-item"><a class="page-link" th:href="@{'?pageNo='+${currenPage +1}}">Next</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="container-fluid my-5">
                    <img src="https://fruitio.monamedia.net/wp-content/uploads/2024/04/organic2-h-banner.jpg" class="img-fluid" alt="...">
                </div>
                <div class="container-fluid">
                    <div class="row mt-2">
                        <h3 class="my-3">Sản phẩm bán chạy</h3>
                        <div class="col-3">
                            <img src="https://fruitio.monamedia.net/wp-content/uploads/2024/04/organic2-v-banner2.jpg" style="height: 830px" class="img-fluid " alt="...">
                        </div>
                        <div class="col-9">
                            <div class="row ms-1 mt-3">
                                <div th:each="p : ${product1}" class="col-12 col-sm-6 col-md-4 col-lg-3  d-flex justify-content-center">
                                    <div class="con">
                                        <div class="card_box">
                                            <div>
                                                <a th:href="@{|/product/detail/${p.productId}|}">
                                                    <div th:if="${p.images != null and p.images.size() > 0}">
                                                        <img th:src="@{'/Image/imageUrl/' + ${p.images[0].imageUrl}}" class="card-img-top"/>
                                                    </div>
                                                </a>
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div th:if="${p.sale != null}" class="d-flex align-items-baseline">
                                                            <h5 class="text-danger mb-0">[[${p.sale}]].đ</h5>
                                                            <h6 class="text-primary text-decoration-line-through ms-2 mb-0">[[${p.price}]].đ</h6>
                                                        </div>
                                                        <div th:unless="${p.sale != null}">
                                                            <h5 class="text-danger mb-0">[[${p.price}]].đ</h5>
                                                        </div>
                                                    </div>
                                                    <p th:text="${p.description}" class="card-text"></p>
                                                    <div class="d-grid gap-2">
                                                        <button th:attr="ng-click=@{|cart.add(${p.productId})|}" type="button" class="btn btn-outline-primary">
                                                            <i class="bi bi-cart-plus"></i> Mua ngay
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <span th:if="${p.sale != null}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 class="text-center text-primary mt-3">Xem tất cả</h5>
                    </div>
                </div>

                <div class="container-fluid my-5">
                    <div class="row">
                        <div class=" col-12 col-sm-8 col-md-6 col-lg-4">
                            <div class="card text-dark">
                                <img src="https://fruitio.monamedia.net/wp-content/uploads/2024/04/organic2-h-banner2-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay ms-2">
                                    <h5 class="card-title mb-2">Rau Củ Tươi Sạch</h5>
                                    <p class="card-text text-danger">Sale off 25%</p>
                                    <p class="card-text">Giúp bạn tiết kiệm chi <br> phí cho gia đình</p>
                                    <p class="card-text mt-4"><button type="button" class="btn btn-primary">Mua ngay </button></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-12 col-sm-8 col-md-6 col-lg-4">
                            <div class="card text-dark">
                                <img src="https://fruitio.monamedia.net/wp-content/uploads/2024/04/organic2-h-banner3-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay ms-2">
                                    <h5 class="card-title mb-2">Dầu thực vật</h5>
                                    <p class="card-text text-danger">Giảm giá</p>
                                    <h5 class="card-text mx-auto mt-5 ">Chỉ với</h5>
                                    <h3 class="card-text text-danger ">99.000đ</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-12 col-sm-8 col-md-4 col-lg-">
                            <div class="card text-dark">
                                <img src="https://fruitio.monamedia.net/wp-content/uploads/2024/04/organic2-h-banner4-1.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay ms-2">
                                    <h5 class="card-title mb-2">Trái cây
                                        chất lượng</h5>
                                    <p class="card-text text-danger">Sale off 40%</p>
                                    <p class="card-text">Giúp bạn tiết kiệm chi <br> phí cho gia đình</p>
                                    <p class="card-text mt-4"><button type="button" class="btn btn-primary">Mua ngay</button></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluit">
                    <h3 class="my-3">Bán chạy</h3>
                    <div class="row">
                        <div class="col-3">
                            <img src="https://fruitio.monamedia.net/wp-content/uploads/2024/04/organic2-v-banner1.jpg" style="height: 830px" class="img-fluid " alt="...">
                        </div>
                        <div class="col-9">
                            <div class="row ms-1 mt-3">
                                <div th:each="p : ${product1}" class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
                                    <div class="con">
                                        <div class="card_box">
                                            <div>
                                                <a th:href="@{|/product/detail/${p.productId}|}">
                                                    <div th:if="${p.images != null and p.images.size() > 0}">
                                                        <img th:src="@{'/Image/imageUrl/' + ${p.images[0].imageUrl}}" class="card-img-top"/>
                                                    </div>
                                                </a>
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div th:if="${p.sale != null}" class="d-flex align-items-baseline">
                                                            <h5 class="text-danger mb-0">[[${p.sale}]].đ</h5>
                                                            <h6 class="text-primary text-decoration-line-through ms-2 mb-0">[[${p.price}]].đ</h6>
                                                        </div>
                                                        <div th:unless="${p.sale != null}">
                                                            <h5 class="text-danger mb-0">[[${p.price}]].đ</h5>
                                                        </div>
                                                    </div>
                                                    <p th:text="${p.description}" class="card-text"></p>
                                                    <div class="d-grid gap-2">
                                                        <button th:attr="ng-click=@{|cart.add(${p.productId})|}" type="button" class="btn btn-outline-primary">
                                                            <i class="bi bi-cart-plus"></i> Mua ngay
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <span th:if="${p.sale != null}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 class="text-center text-primary mt-3">Xem tất cả</h5>
                        </div>
                    </div>
                </div>

                <div class="bg-warning text-dark bg-opacity-25 mt-5">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4"></div>
                        <div class="col-4">
                            <img src="https://storage.googleapis.com/onelife-public/cate_banner/17.TrangMiengAnXe.jpg" class="img-fluid" alt="...">
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div th:each="p : ${product2}" class="col-12 col-sm-6 col-md-4 col-lg-2 mt-5 d-flex justify-content-center">
                            <div class="con">
                                <div class="card_box">
                                    <div>
                                        <a th:href="@{|/product/detail/${p.productId}|}">
                                            <div th:if="${p.images != null and p.images.size() > 0}">
                                                <img th:src="@{'/Image/imageUrl/' + ${p.images[0].imageUrl}}" class="card-img-top"/>
                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div th:if="${p.sale != null}" class="d-flex align-items-baseline">
                                                    <h5 class="text-danger mb-0">[[${p.sale}]].đ</h5>
                                                    <h6 class="text-primary text-decoration-line-through ms-2 mb-0">[[${p.price}]].đ</h6>
                                                </div>
                                                <div th:unless="${p.sale != null}">
                                                    <h5 class="text-danger mb-0">[[${p.price}]].đ</h5>
                                                </div>
                                            </div>
                                            <p th:text="${p.description}" class="card-text"></p>
                                            <div class="d-grid gap-2">
                                                <button th:attr="ng-click=@{|cart.add(${p.productId})|}" type="button" class="btn btn-outline-primary">
                                                    <i class="bi bi-cart-plus"></i> Mua ngay
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <span th:if="${p.sale != null}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center text-primary mt-5">Xem tất cả</h5>
                </div>
            </div>
            <hr class="mt-5">
        </div>

        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-7">
                    <img src="https://sieuthifoodmart.com/thumbs/713x482x1/upload/photo/1-6664.png" class="img-fluid" alt="...">
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-5">
                            <img src="https://sieuthifoodmart.com/thumbs/713x482x1/upload/photo/banh-mi-o-47250.jpg" class="img-fluid" alt="...">
                        </div>
                        <div class="col-7">
                            <h5>Bánh mì ổ lớn dài đặt biệt chỉ có tại việt nam chỉ với </h5>

                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-5">
                            <img src="https://sieuthifoodmart.com/thumbs/713x482x1/upload/photo/1-6664.png" class="img-fluid" alt="...">
                        </div>
                        <div class="col-7">
                            <h5>Bánh mì ổ lớn dài</h5>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-5">
                            <img src="https://sieuthifoodmart.com/thumbs/713x482x1/upload/photo/banh-mi-o-47250.jpg" class="img-fluid" alt="...">
                        </div>
                        <div class="col-7">
                            <h5>Bánh mì ổ lớn dài</h5>

                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-5">
                            <img src="https://sieuthifoodmart.com/thumbs/713x482x1/upload/photo/banh-mi-o-47250.jpg" class="img-fluid" alt="...">
                        </div>
                        <div class="col-7">
                            <h5>Bánh mì ổ lớn dài</h5>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col-3">
                        <img src="https://cdn.tgdd.vn/bachhoaxanh/he-thong-sieu-thi/Content/images/store/4.jpg" class="img-fluid" alt="...">
                        <h5 class="mt-2">Trái cây chất lượng chỉ có tại Siêu thị DevMagic an toàn thực phẩm</h5>
                        <h6 class="mt-4 text-secondary"> Cập nhật ngày : 10/06/2024</h6>
                    </div>
                    <div class="col-3">
                        <img src="https://cdn.tgdd.vn/bachhoaxanh/he-thong-sieu-thi/Content/images/store/10.jpg" class="img-fluid" alt="...">
                        <h5 class="mt-2">Trái cây chất lượng chỉ có tại Siêu thị DevMagic an toàn thực phẩm</h5>
                        <h6 class="mt-4 text-secondary"> Cập nhật ngày : 10/06/2024</h6>
                    </div>
                    <div class="col-3">
                        <img src="https://cdn.tgdd.vn/bachhoaxanh/he-thong-sieu-thi/Content/images/store/5.jpg" class="img-fluid" alt="...">
                        <h5 class="mt-2">Trái cây chất lượng chỉ có tại Siêu thị DevMagic an toàn thực phẩm</h5>
                        <h6 class="mt-4 text-secondary"> Cập nhật ngày : 10/06/2024</h6>
                    </div>
                    <div class="col-3">
                        <img src="https://cdn.tgdd.vn/bachhoaxanh/he-thong-sieu-thi/Content/images/store/4.jpg" class="img-fluid" alt="...">
                        <h5 class="mt-2">Trái cây chất lượng chỉ có tại Siêu thị DevMagic an toàn thực phẩm</h5>
                        <h6 class="mt-4 text-secondary"> Cập nhật ngày : 10/06/2024</h6>
                    </div>
                </div>
            </div>
        </div>
        <!--   phạm vi quản lý -->
    </div>
    <script src="/templates/product/shopping-cart.js"></script>
</main>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>-->
</body>

</html>