<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Account List</title>
</head>
<body>
<div class="main-wrapper" th:fragment="content">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h2><strong>Danh sách tài khoản</strong></h2>
                </div>
                <div class="page-btn">
                    <a th:href="@{/Accounts/AccountForm}" class="btn btn-added">
                        <img src="/admin/img/icons/plus.svg" class="me-1" alt="img">Thêm tài khoản
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-top">
                        <div class="search-set">
                            <div class="search-path">
                                <a class="btn btn-filter" id="filter_search">
                                    <img src="/admin/img/icons/filter.svg" alt="img">
                                    <span><img src="/admin/img/icons/closes.svg" alt="img"></span>
                                </a>
                            </div>
                            <div class="search-input">
                                <a class="btn btn-searchset"><img src="/admin/img/icons/search-white.svg" alt="img"></a>
                            </div>
                        </div>
                        <div class="wordset">
                            <ul>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                            src="/admin/img/icons/pdf.svg" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                            src="/admin/img/icons/excel.svg" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                            src="/admin/img/icons/printer.svg" alt="img"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card" id="filter_inputs">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-lg-2 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>Role</label>
                                        <label>
                                            <select class="form-select">
                                                <option>Admin</option>
                                                <option>User</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên người dùng</th>
                                <th>Mật khẩu</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Quyền</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody th:if="${accounts != null}" th:each="account : ${accounts}">
                            <tr>
                                <td>
                                    <img th:src="@{'/Image/imageProfile/' + ${account.imageUrl} }"
                                         style="width: 50px" alt="User Image">
                                </td>
                                <td th:text="${account.username != null ? account.username : 'N/A'}"></td>
                                <td>*****</td>
                                <td th:text="${account.email != null ? account.email : 'N/A'}"></td>
                                <td th:text="${account.phoneNumber != null ? account.phoneNumber : 'N/A'}"></td>
                                <td th:text="${account.address != null ? account.address : 'N/A'}"></td>
                                <td th:text="${account.role != null ? account.role.roleName : 'N/A'}"></td>
                                <td>
                                    <a class=" btn" th:href="@{/Accounts/edit/{id}(id=${account.accountId})}">
                                        <img src="/admin/img/icons/edit.svg" alt="img">
                                    </a>
                                    <form th:action="@{/Accounts/delete/{id}(id=${account.accountId})}" method="post" style="display:inline;">
                                        <button class=" btn" type="submit">
                                            <img src="/admin/img/icons/delete.svg" alt="img">
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>