<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4> Account list</h4>
                    <h6>View/Search  Account</h6>
                </div>
                <div class="page-btn">
                    <a th:href="@{/Admin/AddAccount}" class="btn btn-added">
                        <img src="/admin/img/icons/plus.svg" class="me-1" alt="img">Add Account
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-top">
                        <div class="search-set">
                            <div class="search-path">
                                <a class="btn btn-filter" id="filter_search">
                                    <img src="/admin/img/icons/filter.svg" alt="img">
                                    <span><img src="/admin/img/icons/closes.svg" alt="img"></span>
                                </a>
                            </div>
                            <div class="search-input">
                                <a class="btn btn-searchset"><img src="/admin/img/icons/search-white.svg" alt="img"></a>
                            </div>
                        </div>
                        <div class="wordset">
                            <ul>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                            src="/admin/img/icons/pdf.svg" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                            src="/admin/img/icons/excel.svg" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                            src="/admin/img/icons/printer.svg" alt="img"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card" id="filter_inputs">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-lg-2 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>Role</label>
                                        <label>
                                            <select class="form-select">
                                                <option>Admin</option>
                                                <option>Staff</option>
                                                <option>User</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-6 col-12 ms-auto">
                                    <div class="form-group">
                                        <a class="btn btn-filters ms-auto">
                                            <img src="/admin/img/icons/search-whites.svg" alt="img">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table ">
                            <thead>
                            <tr>
                                <th>UserName</th>
                                <th>Password</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>dadas</tr>
<!--                                <tr th:each="account : ${accounts}">-->
<!--                                    <td th:text="${account.username}"></td>-->
<!--                                    <td th:text="${account.email}"></td>-->
<!--                                    <td th:text="${account.phoneNumber}"></td>-->
<!--                                    <td th:text="${account.address}"></td>-->
<!--                                    <td th:text="${account.role.name}"></td>-->
<!--                                    <td>-->
<!--                                        <a th:href="@{/api/accounts/{id}(id=${account.accountId})}">Edit</a>-->
<!--                                        <form th:action="@{/api/accounts/{id}(id=${account.accountId})}" method="post" style="display:inline;">-->
<!--                                            <input type="hidden" name="_method" value="DELETE"/>-->
<!--                                            <button type="submit">Delete</button>-->
<!--                                        </form>-->
<!--                                    </td>-->
<!--                                </tr>-->
                            </tbody>
                        </table>
                    </div>
                    <!-- Phân trang -->
<!--                    <div>-->
<!--                        <span>Trang hiện tại: <span th:text="${currentPage + 1}"></span></span>-->
<!--                        <span>/</span>-->
<!--                        <span th:text="${totalPages}"></span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <a th:if="${currentPage > 0}" th:href="@{/Admin/AccountList(page=${currentPage - 1}, size=${size})}">Trước</a>-->
<!--                        <a th:if="${currentPage < totalPages - 1}" th:href="@{/Admin/AccountList(page=${currentPage + 1}, size=${size})}">Tiếp theo</a>-->
<!--                    </div>-->
<!--                    <a th:href="@{/AddAccount}">Thêm Tài Khoản</a>-->
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>