<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="main-wrapper" th:fragment="content">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4 th:text="${brand != null ? 'cập nhật' : 'Thêm mới'}"></h4>
                    <h6 th:text="${brand != null ? 'Edit existing Brand' : 'Create new Brand'}"></h6>
                </div>

                <div class="page-btn">
                    <a th:href="@{/Brand/BrandList}" class="btn btn-added">
                        <img src="/admin/img/icons/plus.svg" class="me-2" alt="img"> Danh sách  thương hiêu
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <form th:action="@{${brand != null} ? '/Brand/UpdateBrand/' + ${brand.brandId} : '/Brand/AddBrand'}"
                          th:method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label>Tên thương hiêu</label>
                                    <label>
                                        <input type="text" th:value="${brand != null ? brand.brandName : ''}" name="brandName" required>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Mô tả</label>
                                    <label>
                                        <textarea class="form-control" name="description" required th:text="${brand != null ? brand.description : ''}"></textarea>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Ảnh sản phẩm</label>
                                    <div class="image-upload">
                                        <input type="file" name="imageUrl">
                                        <div class="image-uploads">
                                            <img src="/admin/img/icons/upload.svg" alt="img">
                                            <h4>Drag and drop a file to upload</h4>
                                        </div>
                                    </div>
                                    <!-- Nếu chỉnh sửa, hiển thị ảnh hiện tại -->
                                    <div th:if="${brand != null}" class="current-image">
                                        <p>Current Image: <img th:src="@{'/Image/imageUrl/' + ${brand.imageUrl}}" alt="Current Brand Image" width="100px"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-submit me-2">
                                    <span th:text="${brand != null ? 'Cập nhật' : 'Thêm mới'}"></span>
                                </button>
                                <a th:href="@{/Brand/AddBrand}" class="btn btn-cancel">Đặt lại</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>