<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add Product</title>
</head>
<body>
<div class="main-wrapper" th:fragment="content">
    <div class="page-wrapper">
        <div class="content">
            <form th:action="${url}" th:object="${productDTO}" method="post" enctype="multipart/form-data">
                <div class="page-header">
                    <div class="page-title">
                        <h4>Thêm sản phẩm</h4>
                        <h6>Tạo sản phẩm mới</h6>
                    </div>
                    <div class="page-btn">
                        <a th:href="@{/Products/ProductList}" class="btn btn-added">
                            <img src="/admin/img/icons/plus.svg" alt="img" class="me-1">Danh sách sản phẩm
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                            <div th:if="${error}" class="alert alert-danger">
                                <p th:text="${error}"></p>
                            </div>

                        <div class="row">
                            <!-- Product Name -->
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="name">Tên sản phẩm</label>
                                    <input type="text" id="name" name="name" class="form-control" th:value="${productDTO.name}" required>
                                </div>
                            </div>

                            <!-- Category -->
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Loại sản phẩm</label>
                                    <select class="form-select" name="categoryId" required>
                                        <option value="">Chọn danh mục</option>
                                        <th:block th:each="category : ${categories}">
                                            <option th:value="${category.categoryId}"
                                                    th:text="${category.categoryName}"
                                                    th:selected="${productDTO.categoryId == category.categoryId}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <!-- Quantity -->
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Số lượng</label>
                                    <input type="number" name="stockQuantity" class="form-control" th:value="${productDTO.stockQuantity}" required>
                                </div>
                            </div>

                            <!-- Price -->
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Giá gốc</label>
                                    <input type="number" name="price" class="form-control" th:value="${productDTO.price}" required>
                                </div>
                            </div>

                            <!-- Sale -->
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Giá giảm</label>
                                    <input type="number" name="sale" class="form-control" th:value="${productDTO.sale != null ? productDTO.sale : 0}">
                                </div>
                            </div>

                            <!-- Warehouse -->
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Kho hàng</label>
                                    <select class="form-select" name="warehouseId" required>
                                        <option value="">Chọn kho</option>
                                        <th:block th:each="warehouse : ${warehouses}">
                                            <option th:value="${warehouse.warehouseId}"
                                                    th:text="${warehouse.warehouseName}"
                                                    th:selected="${productDTO.warehouseId == warehouse.warehouseId}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <!-- Brand -->
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Thương hiệu</label>
                                    <select class="form-select" name="brandId" required>
                                        <option value="">Chọn thương hiệu</option>
                                        <th:block th:each="brand : ${brands}">
                                            <option th:value="${brand.brandId}"
                                                    th:text="${brand.brandName}"
                                                    th:selected="${productDTO.brandId == brand.brandId}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="origin">Xuất xứ</label>
                                    <input type="text" id="origin" name="origin" th:value="${productDTO.origin}" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="unit">Đơn vị</label>
                                    <input type="text" id="unit" name="unit" th:value="${productDTO.unit}" class="form-control">
                                </div>
                            </div>

                            <!-- Description -->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Mô tả</label>
                                    <textarea class="form-control" name="description" th:text="${productDTO.description}" required></textarea>
                                </div>
                            </div>

                            <!-- Product Images -->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Hình sản phẩm</label>

                                    <!-- Hiển thị hình ảnh hiện tại -->
                                    <div class="image-container" style="display: flex; gap: 10px; margin-bottom: 10px;">
                                        <div th:each="image : ${images}">
                                            <img th:src="@{'/Image/imageUrl/' + ${image.imageUrl}}" alt="Image" style="width: 150px; height: auto;" />
                                        </div>
                                    </div>

                                    <!-- Tải lên hình ảnh mới -->
                                    <label>Tải hình ảnh</label>
                                    <input type="file" class="form-control" name="imageFiles" multiple>
                                </div>
                            </div>

                            <!-- Submit and Cancel buttons -->
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-submit me-2">Thêm</button>
                                <a th:href="@{/Products/AddProduct}" class="btn btn-cancel">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    tinymce.init({
        selector: 'textarea#description', // Chọn phần tử textarea bằng id
        plugins: [
            'anchor', 'autolink', 'charmap', 'image', 'link', 'lists', 'media',
            'searchreplace', 'table', 'visualblocks', 'wordcount'
        ],
        toolbar: 'undo redo | bold italic underline | link image media | numlist bullist | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name'
    });
</script>
</body>
</html>