<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="main-wrapper" th:fragment="content">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Brand List</h4>
                    <h6>Manage your Brand</h6>
                </div>
                <div class="page-btn">
                    <a th:href="@{/Brand/AddBrand}" class="btn btn-added">
                        <img src="/admin/img/icons/plus.svg" class="me-2" alt="img">Add Brand
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table datanew">
                            <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Image</th>
                                <th>Brand Name</th>
                                <th>Brand Description</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Loop through each brand and display -->
                            <tr th:each="brand : ${brands}">
                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox" th:value="${brand.brandId}">
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                <td>
                                    <a class="product-img">
                                        <img th:src="@{'/Image/imageUrl/'+${brand.imageUrl}}" alt="product">
                                    </a>
                                </td>
                                <td th:text="${brand.brandName}"></td>
                                <td th:text="${brand.description}"></td>
                                <td>
                                    <a class="me-3" th:href="@{/Brand/EditBrand/{id}(id=${brand.brandId})}">
                                        <img src="/admin/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="me-3 confirm-text" th:href="@{/Brand/DeleteBrand/{id}(id=${brand.brandId})}"
                                       onclick="return confirm('Bạn có chắc muốn xóa thương hiệu này? Các sản phẩm liên quan sẽ mất.')">
                                        <img src="/admin/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
