<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="main-wrapper" th:fragment="content">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Danh sách thương hiệu</h4>
                </div>
                <div class="page-btn">
                    <a th:href="@{/Brand/AddBrand}" class="btn btn-added">
                        <img src="/admin/img/icons/plus.svg" class="me-2" alt="img">Thêm thương hiệu
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table datanew">
                            <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên thương hiệu</th>
                                <th>Mô tả thương hiệu</th>
                                <th>Hành động</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Loop through each brand and display -->
                            <tr th:each="brand : ${brands}">
                                <td>
                                    <a class="product-img">
                                        <img th:src="@{'/Image/imageUrl/'+${brand.imageUrl}}" alt="product">
                                    </a>
                                </td>
                                <td th:text="${brand.brandName}"></td>
                                <td th:text="${brand.description}"></td>
                                <td>
                                    <a class="me-3" th:href="@{/Brand/EditBrand/{id}(id=${brand.brandId})}">
                                        <img src="/admin/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="me-3 confirm-text" th:href="@{/Brand/DeleteBrand/{id}(id=${brand.brandId})}"
                                       onclick="return confirm('Bạn có chắc muốn xóa thương hiệu này? Các sản phẩm liên quan sẽ mất.')">
                                        <img src="/admin/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
