<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="main-wrapper" th:fragment="content">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Danh sách loại hàng</h4>
                </div>
                <div class="page-btn">
                    <a th:href="@{/Categories/AddCategory}" class="btn btn-added">Thêm loại hàng</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table datanew">
                            <thead>
                            <tr>
                                <th>Hình</th>
                                <th>Tên loại hàng</th>
                                <th>Mô tả</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody th:each="category : ${categories}">
                            <tr>
                                <td>
                                    <img th:src="@{/Image/imageUrl/{image}(image=${category.imageUrl})}"
                                         th:alt="${category.categoryName}" style="width:70px; height:auto;" />
                                </td>
                                <td th:text="${category.categoryName}"></td>
                                <td th:text="${category.description}"></td>
                                <td>
                                    <a th:href="@{/Categories/edit/{id}(id=${category.categoryId})}" class=" btn ">
                                        <img src="/admin/img/icons/edit.svg" alt="img">
                                    </a>
                                    <form th:action="@{/Categories/DeleteCategory/{id}(id=${category.categoryId})}" method="post" style="display:inline;">
                                        <button class=" btn" type="submit"  onclick="return confirm('Bạn có chắc chắn muốn xóa?')">
                                            <img src="/admin/img/icons/delete.svg" alt="img">
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Pagination -->
                    <div class="pagination-wrapper text-center mt-2">
                        <!-- First Page Link -->
                        <a class="pagination-button btn border-success" th:href="@{/Categories/CategoryList(page=1)}" th:if="${currentPage > 1}">
                            <i class="bi bi-chevron-double-left"></i>
                        </a>

                        <!-- Previous Page Link -->
                        <a class="pagination-button btn border-success" th:href="@{/Categories/CategoryList(page=${currentPage - 1})}" th:if="${currentPage > 1}">
                            <i class="bi bi-chevron-compact-left"></i>
                        </a>

                        <!-- Page Numbers -->
                        <span class="pagination-button btn btn-info text-light" th:text="'Trang ' + ${currentPage} + ' / ' + ${totalPages}"></span>

                        <!-- Next Page Link -->
                        <a class="pagination-button btn border-success" th:href="@{/Categories/CategoryList(page=${currentPage + 1})}" th:if="${currentPage < totalPages}">
                            <i class="bi bi-chevron-compact-right"></i>
                        </a>

                        <!-- Last Page Link -->
                        <a class="pagination-button btn border-success" th:href="@{/Categories/CategoryList(page=${totalPages})}" th:if="${currentPage < totalPages}">
                            <i class="bi bi-chevron-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
