<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="main-wrapper" th:fragment="content">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Danh sách loại hàng</h4>
                </div>
                <div class="page-btn">
                    <a th:href="@{/Categories/AddCategory}" class="btn btn-added">Thêm loại hàng</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table datanew">
                            <thead>
                            <tr>
                                <th>Hình</th>
                                <th>Tên loại hàng</th>
                                <th>Mô tả</th>
                                <th>Thao tác</th>
                            </tr>
                            </thead>
                            <tbody th:each="category : ${categories}">
                            <tr>
                                <td>
                                    <img th:src="@{/Image/imageUrl/{image}(image=${category.imageUrl})}"
                                         th:alt="${category.categoryName}" style="width:70px; height:auto;" />
                                </td>
                                <td th:text="${category.categoryName}"></td>
                                <td th:text="${category.description}"></td>
                                <td>
                                    <a th:href="@{/Categories/edit/{id}(id=${category.categoryId})}" class=" btn bg-info">Sửa</a>
                                    <form th:action="@{/Categories/DeleteCategory/{id}(id=${category.categoryId})}" method="post" style="display:inline;">
                                        <button class="bg-danger btn" type="submit"  onclick="return confirm('Bạn có chắc chắn muốn xóa?')">Xóa</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
