<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>My Profile</title>
</head>
<body>
<div class="main-wrapper" th:fragment="content">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Profile</h4>
                    <h6>User Profile</h6>
                </div>
            </div>

            <form th:action="@{/Admin/UpdateProfile}" th:object="${account}" method="post" enctype="multipart/form-data">
                <div class="card profile-contentname">
                    <div class="card-body">
                        <div class="profile-set">
                            <div class="profile-head bg-info"></div>
                            <div class="profile-top">
                                <div class="profile-content">
                                    <div class="profile-contentimg">
                                        <img th:src="@{'/Image/imageProfile/'+${account.imageUrl}}" alt="Profile Image" id="blah">
                                        <div class="profileupload">
                                            <input type="file" name="imageFile" id="imgInp">
                                            <a href="javascript:void(0);"><img src="/admin/img/icons/edit-set.svg" alt="Edit"></a>
                                        </div>
                                    </div>
                                    <div class="profile-contentname">
                                        <h2 th:text="${account.username}">Tên đăng nhập</h2>
                                    </div>
                                </div>
                                <div class="ms-auto">
                                    <button type="submit" class="btn btn-submit me-2">Cập nhật</button>
                                    <a th:href="@{/Password/ChangePassword(username=${username})}" class="btn btn-cancel">Cập nhật mật khẩu</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" th:field="*{email}" placeholder="Email của bạn" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" th:field="*{phoneNumber}" placeholder="Số điện thoại của bạn" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label>User Name</label>
                                    <input type="text" th:field="*{username}" placeholder=" Tên đăng nhập" class="form-control">
                                </div>
                            </div>
<!--                            <div class="col-lg-6 col-sm-12">-->
<!--                                <div class="form-group">-->
<!--                                    <label>Password</label>-->
<!--                                    <div class="pass-group">-->
<!--                                        <input type="password" name="password" class="pass-input form-control" placeholder="******" readonly id="passwordField">-->
<!--                                        <span class="fas toggle-password fa-eye-slash" id="togglePassword"></span>-->
<!--                                    </div>-->
<!--                                    <small id="passwordHint" class="form-text text-muted">Hãy click vào "Cập nhật mật khẩu" để thay đổi mật khẩu.</small>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <label>
                                        <input type="text" th:field="*{address}"placeholder="Địa chỉ của bạn" class="form-control">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('passwordField').addEventListener('click', function() {
        alert("Hãy click vào 'Cập nhật mật khẩu' để thay đổi mật khẩu.");
    });

</script>
</body>
</html>
