<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Title</title>
</head>
<body>
<div class="main-wrapper" th:fragment="content">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Product List</h4>
                </div>
                <div class="page-btn">
                    <a th:href="@{/Products/AddProduct}" class="btn btn-added">
                        <img src="/admin/img/icons/plus.svg" alt="img" class="me-1">Add New Product
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-top">
                        <div class="search-set">
                            <div class="search-path">
                                <a class="btn btn-filter" id="filter_search">
                                    <img src="/admin/img/icons/filter.svg" alt="img">
                                    <span><img src="/admin/img/icons/closes.svg" alt="img"></span>
                                </a>
                            </div>
                            <div class="search-input">
                                <a class="btn btn-searchset"><img src="/admin/img/icons/search-white.svg" alt="img"></a>
                            </div>
                        </div>
                        <div class="wordset">
                            <ul>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                            src="/admin/img/icons/pdf.svg" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                            src="/admin/img/icons/excel.svg" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                            src="/admin/img/icons/printer.svg" alt="img"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card mb-0" id="filter_inputs">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="row">
                                        <!-- Category Filter -->
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="form-group">
                                                <select class="form-select" id="categoryFilter" name="categoryId">
                                                    <option value="">-- Chọn danh mục --</option>
                                                    <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"
                                                            th:selected="${category.categoryId == categoryId}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Brand Filter -->
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="form-group">
                                                <select class="form-select" id="brandFilter" name="brandId">
                                                    <option value="">-- Chọn thương hiệu --</option>
                                                    <option th:each="brand : ${brands}" th:value="${brand.brandId}" th:text="${brand.brandName}"
                                                            th:selected="${brand.brandId == brandId}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Search Bar -->
                                        <div class="col-lg col-sm-6 col-12">
                                            <div class="search-input">
                                                <form th:action="@{/Products/ProductList}" method="get">
                                                    <input type="text" name="searchQuery" class="form-control" placeholder="Nhập tên sản phẩm...">
                                                    <button type="submit" class="btn btn-searchset">
                                                        <img src="/admin/img/icons/search-white.svg" alt="Search">
                                                    </button>
                                                </form>
                                            </div>
                                        </div>

                                        <!-- Search Button -->
                                        <div class="col-lg-1 col-sm-6 col-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-filters">
                                                    <img src="/admin/img/icons/search-whites.svg" alt="img">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table datanew">
                            <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Danh mục</th>
                                <th>Thương hiệu</th>
                                <th>Tên kho</th>
                                <th>Mô tả</th>
                                <th>Giá</th>
                                <th>Giảm giá</th>
                                <th>Số lượng</th>
                                <th>Đơn vị</th>
                                <th>Xuất xứ</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody  th:each="product : ${products}">
                            <tr>
                                <td>
                                    <div th:if="${product.images != null}" th:each="image : ${product.images}">
                                        <img th:src="@{'/Image/imageUrl/' + ${image.imageUrl}}" alt="Image" style="width: 50px; height: auto;" />
                                    </div>
                                </td>
                                <td th:text="${product.name}">Tên sản phẩm</td>
                                <td th:text="${product.category.categoryName}">Danh mục</td>
                                <td th:text="${product.brand.brandName}">Thương hiệu</td>
                                <td th:text="${product.warehouse.warehouseName}">kho</td>
                                <td th:text="${product.description}">Mô tả</td>
                                <td th:text="${product.price}">Giá</td>
                                <td th:text="${product.sale != null ? product.sale : 0}">Giảm giá</td>
                                <td th:text="${product.stockQuantity}">Số lượng</td>
                                <td th:text="${product.unit}">Đơn vị</td>
                                <td th:text="${product.origin}">Xuất xứ</td>
                                <td>
                                    <a class="btn " th:href="@{/Products/EditProduct/{id}(id=${product.productId})}">
                                        <img src="/admin/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="btn " th:href="@{/Products/DeleteProduct/{id}(id=${product.productId})}">
                                        <img src="/admin/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Phân trang -->
                    <div class="pagination-wrapper text-center mt-2">
                        <!-- Nút Đầu Trang -->
                        <span th:if="${currentPage > 0}" class="pagination-button btn border-success">
                            <a th:href="@{/Products/ProductList(page=0)}"><i class="bi bi-chevron-double-left"></i></a>
                        </span>

                        <!-- Nút Trước -->
                        <span th:if="${currentPage > 0}" class="pagination-button btn border-success">
                            <a th:href="@{/Products/ProductList(page=${currentPage - 1})}"><i class="bi bi-chevron-compact-left"></i></a>
                        </span>

                        <!-- Thông Tin Phân Trang -->
                        <span class="pagination-info btn btn-info text-light">
                            Trang <span th:text="${currentPage + 1}"></span> / <span th:text="${totalPages}"></span>
                        </span>

                        <!-- Nút Tiếp -->
                        <span th:if="${currentPage < totalPages - 1}" class="pagination-button btn border-success">
                            <a th:href="@{/Products/ProductList(page=${currentPage + 1})}"><i class="bi bi-chevron-compact-right"></i></a>
                        </span>

                        <!-- Nút Cuối Trang -->
                        <span th:if="${currentPage < totalPages - 1}" class="pagination-button btn border-success">
                            <a th:href="@{/Products/ProductList(page=${totalPages - 1})}"><i class="bi bi-chevron-double-right"></i></a>
                        </span>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>