<!DOCTYPE html>
<html lang="vi">
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <title>Liên Hệ Với Chúng Tôi</title>
    <style>

    </style>
</head>
<body>
<main>
    <div class="container mt-5 d-flex">
        <div class="contact-info">
            <h2>Liên Hệ Với Chúng Tôi</h2>
            <p><strong>Địa Chỉ:</strong> Tòa T, Lầu 8, TP.HCM, Quận 12</p>
            <p><strong>Liên Hệ:</strong> <a href="tel:+84915765058" aria-label="Số điện thoại liên hệ">+84 0915765058</a></p>
            <p><strong>Hỗ Trợ Chung:</strong> <a href="mailto:phatanhvu147963kk@gmail.com" aria-label="Email hỗ trợ chung">phatanhvu147963kk@gmail.com</a></p>
        </div>

        <div class="form-section">
            <h2>Gửi Tin Nhắn Đến Chúng Tôi</h2>
            <form action="/submit" method="POST">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="firstName" class="form-label">Họ và Tên *</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Họ" required>
                    </div>
                    <div class="col-md-6">
                        <label for="lastName" class="form-label">Tên *</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Tên" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Nhập Email *</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Eg. example@email.com" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Nhập Số Điện Thoại</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="VN. +84 090000000">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Phản hồi *</label>
                    <textarea class="form-control" id="message" name="message" placeholder="Viết tin nhắn cho chúng tôi" required rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg" aria-label="Gửi phản hồi">Gửi Phản Hồi</button>
            </form>
        </div>
    </div>
    <div class="map-section mt-4">
        <iframe
                allowfullscreen
                height="300"
                loading="lazy"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.984946144668!2d106.6551396140281!3d10.85581339225452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752d2cf8abbd0d%3A0xf2edcda12c1e7a4c!2zVHLhuq1jIFQg4buHcHkgOCwgUGjhu6MgQ8O0bmcgMTIsIFRQLkMuIEjhu6MgQ8O0bmcgMTIsIFRQLkMuIEjhu6cgUEkgbG9hbmcgY2hpbGVubywgVDIuNSBTb2M!5e0!3m2!1svi!2s!4v1692513742185!5m2!1svi!2s"
                style="border:0; width:100%;">
        </iframe>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
