<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Promotion Add</h4>
                    <h6>Create new Promotion</h6>
                </div>
                <div class="page-btn">
                    <a th:href="@{/Admin/PromotionList}" class="btn btn-added">
                        <img src="/admin/img/icons/plus.svg" alt="img" class="me-1">Promotion List
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Promotion Name</label>
                                <label class="w-100">
                                    <input type="text">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Product Name</label>
                                <label>
                                    <input type="text">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Discount</label>
                                <label>
                                    <input type="text">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Start Date</label>
                                <label >
                                    <input type="date">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>End Date</label>
                                <label>
                                    <input type="date">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <a href="javascript:void(0);" class="btn btn-submit me-2">Submit</a>
                            <a href="ProductList.html" class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>